$font-1: "Clash Grotesk", sans-serif;
//$font-1v: "Clash Grotesk - Variable", sans-serif;

$font-size: 1rem; // Base 10 pour simplifier les calculs
$baseline: 1.25rem;

$bold: 600;

html{font-size: 100%;}
@include for-size(desktop-1921) {
  @media (-webkit-device-pixel-ratio: 1) {
    html{font-size: 150%;}
  }
}

body{
  font-size: 18px;
  @media print{font-size: 13px;}
  line-height: $baseline;
  //@supports not (font-variation-settings : normal){
  font-family: $font-1;
  font-weight: 400;
  color: var(--cc);
  /*}
  @supports (font-variation-settings : normal){
    font-family: $font-1v;
    font-variation-settings: "wght" 300;
  }*/
}


// Main

@mixin f1($s, $l, $w, $ls, $color){
    //@supports not (font-variation-settings : normal){
    font-family: $font-1;
    font-weight: $w;
    /*}
    @supports (font-variation-settings : normal){
      font-family: $font-1v;
      font-variation-settings: "wght" $w;
    }*/
    font-size: $font-size*$s;
    line-height: $baseline*$l;
    letter-spacing: #{$ls}px;
    color: $color;
}

@mixin f1-s6($weight: 400, $color: var(--cc)){
  @if $weight == bolder{ $weight: 600; }
  @include f1(10, 8, $weight, 0,  $color);
}
@mixin f1-s5($weight: 400, $color: var(--cc)){
  @if $weight == bolder{ $weight: 600; }
  @include f1(5, 4, $weight, 0,  $color);
}
@mixin f1-s4($weight: 400, $color: var(--cc)){
  @if $weight == bolder{ $weight: 600; }
  @include f1(4, 3.5, $weight, 0,  $color);
}
@mixin f1-s3($weight: 400, $color: var(--cc)){
  @if $weight == bolder{ $weight: 600; }
  @include f1(2.5, 2, $weight, 0,  $color);
}
@mixin f1-s2($weight: 400, $color: var(--cc)){
  @if $weight == bolder{ $weight: 600; }
  @include f1(1.4, 1.5, $weight, 0,  $color);
}
@mixin f1-s1($weight: 400, $color: var(--cc)){
  @if $weight == bolder{ $weight: 600; }
  @include f1(1, 1, $weight, 0,  $color);
}
@mixin f1-s0($color: var(--cc)){
  @include f1(.75, .75, 400, 0,  $color);
}