<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>{% if title|length %}{{title}} - {{ _meta.acronyme | upper }}{% else %}{{nom}}{%endif%}</title>

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/' | url }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/' | url }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/' | url }}favicon-16x16.png">
    <link rel="manifest" href="{{ '/' | url }}site.webmanifest">
    <link rel="mask-icon" href="{{ '/' | url }}safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="
      {% if couleur == 'vert' %} #33FF95
      {% elif couleur == 'vert-sombre' %} #005F4B
      {% elif couleur == 'rouge' %} #ff594a
      {% elif couleur == 'rouge-sombre' %} #4a0000
      {% elif couleur == 'bleu' %} #66daff
      {% elif couleur == 'bleu-sombre' %} #004c5b
      {% elif couleur == 'jaune' %} #fffb66
      {% elif couleur == 'jaune-sombre' %} #5b5b00
      {% else %} #33FF95{%endif%}">
    
    <!--SEO-->
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{_meta.url}}{{page.url}}">          
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image:alt" content="Image description">
    <link rel="canonical" href="{{_meta.url}}{{page.url}}">
    {% block SEO %}{% endblock %}

    <!--Style-->
    <link rel="stylesheet" href="{{ '/' | url }}assets/css/main.css" type="text/css" >
    <link rel="stylesheet" href="{{ '/' | url }}assets/font/clash_grotesk/stylesheet.css" type="text/css" >    
  
  </head>

  <body id="{{ tags }}" data-couleur="{% if (couleur) and (couleur|length)%}{{couleur}}{%else%}vert{%endif%}">
  	{% include "partials/topbar.html" %}
    {% block main %}{% endblock %}
  	{% include "partials/footer.html" %}
    <div class="sr-only" aria-hidden>
      {% include "../assets/svg/jsi.svg" %}
      {% include "../assets/svg/icons.svg" %}
    </div>
  </body>
</html>