{% extends "_base.html" %}

{% block SEO %}
    <meta property="og:title" content="{{title}} - {{ _meta.acronyme | upper }}">
    <meta name="description" content="{{_meta.description}}">
    <meta property="og:description" content="{{_meta.description}}">
    <meta property="og:image" content="{{_meta.url}}/social/index.jpg">    
{% endblock %}

{% block main %}
  <main>
	  <!--Content-->
  	<div id="content">
	  	{{ content | safe }}
	    <p class="signature"><em>{{ _meta.president }}</em>Président de la JSI</p>
	  </div>

	  <!--Aside-->
    <aside>
  	   <ul id="organigramme">
        {% if _meta.president|length %}<li><em>Président </em>{{_meta.president}}</li>{%endif%}
        {% if _meta.tresorier|length %}<li><em>Trésorier </em>{{_meta.tresorier}}</li>{%endif%}
        {% if _meta.secretaire|length %}<li><em>Secrétaire </em>{{_meta.secretaire}}</li>{%endif%}
      </ul> 
    </aside>

	  <!--Image-->
    <figure>
      <img src="photo-president-1000.png">
    </figure>    
  </main>
{% endblock %}