{% extends "_base.html" %}

{% block SEO %}
    <meta property="og:title" content="{{nom}}"> 
    <meta name="description" content="Inscrivez-vous auprès de notre section sportive associative basée à Irigny.">
    <meta property="og:description" content="Inscrivez-vous auprès de notre section sportive associative basée à Irigny.">
    <meta property="og:image" content="{{_meta.url}}/social/{{sport}}.jpg">    
{% endblock %}

{% block main %}
  <main>
    <!--Titraille-->
  	<header>
  		<h1>
  		  <svg preserveAspectRatio="xMinYMid meet"  viewBox="0 0 70 70">
          <use href="#mistral-jsi_out"/>
        </svg>
    	{{ nom  | replace("JSI ", "")}}
  		</h1>
      <ul>
        {% if adherent%}<li class="adhérent">{{adherent}} adhérents</li>{%endif%}
        {% if fondation %}<li class="fondation">Fondé en {{fondation}}</li>{%endif%}
        {% if federation|length %}<li class="fédération">Fédération {{federation}}</li>{%endif%}
      </ul>


  	</header>

    <!--Content Wrapper-->
    <div id="content">
      
      <!--Main Text-->
      <div class="text">{{ content | safe }}</div>
      
      <aside>

        <!--Logo-->
        <img id="logo" src="images/logo-{{ sport | urlize | safe }}.png"  onerror="this.onerror=null; this.remove();">

        <!--Adress-->
        <address>
          <ul aria-label="contact">
          {% if web|length %}
            <li aria-label="website"><em>Web </em><a href="http://{{web}}">{{web}}</a></li>
          {%endif%}
          {% if mail|length %}
            <li aria-label="email"><em>Mail </em><a href="mailto{{mail}}">{{mail}}</a></li>
          {%endif%}
          {% if adresse|length %}
            <li aria-label="adresse"><em hidden>Centre </em>{{adresse | safe}}</li>
          {%endif%}
          </ul>

          <!--Social-->
          {% if social|length %}
          <ul id="social" aria-label="Réseaux sociaux">
          {% for s in social %}
            <li class="{{s[0]}}">
              <a href="https://www.{{s[0]}}.com/{{s[1]}}" rel="external" target="_blank" >
                <svg preserveAspectRatio="xMinYMid meet"  viewBox="0 0 20 20">
                  <use href="#icon-{{s[0]}}"/>
                </svg>
              </a>
            </li>
          {%endfor%}
            </ul>
          {%endif%}
        </address>

        <!--Organigramme-->
        <ul id="organigramme">
          {% if president|length %}<li><em>Président </em>{{president}}</li>{%endif%}
          {% if tresorier|length %}<li><em>Trésorier </em>{{tresorier}}</li>{%endif%}
          {% if secretaire|length %}<li><em>Secrétaire </em>{{secretaire}}</li>{%endif%}
        </ul> 
      </aside>
    </div>


    <!--Image-->
    <figure>
      <img src="images/photo-{{ sport | urlize | safe }}-1000.png">
    </figure>

  </main>
{% endblock %}