/*
    On Off
            */
            
input.on-off{
  position: relative;
  width: 3em;
  height: 1.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  outline: none;
  border-radius: 1em;
  box-shadow: inset 0 0 0.5 gray;
  transition: all 0.25s ease-in-out;
  border: 1px solid currentColor;
  cursor: pointer;
}

input.on-off::before {
  content: "";
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background: var(--bg);
  top: -.125em;
  left: 52%; left: calc(50% + 2px);
  transition: all 0.25s ease-in-out;
  transform: scale(1.1);
  border: 1px solid currentColor;
}

input.on-off:checked{
  &::before{
    left: 0;
  }
}


/*
  Drop Down
            */
$transition: 280ms all 120ms ease-out;

nav.dropdown {
  position: relative;

  &:hover,
  &:focus-within {
    ul.dropdown__menu {
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
      visibility: visible;
      a {opacity: 1;}
    }
  }

  button.dropdown__title {
    display: inline-block;
    cursor: pointer;

    @include f1-s1(bolder);
    text-align: center;
    text-decoration: none;
    color: var(--cc);

    background-color: transparent;
    border: none;

    padding: 4px 1.5rem 4px 0;
    border-top: 3px solid transparent;
    transition: $transition;

    &:hover,&:focus {border-top-color: var(--bg);}

    svg{
      position: absolute;
      top: -40%;
      right: 0;
      width: 1rem !important;
    }
  }

  ul.dropdown__menu {
    position: absolute;
    width: 100%;
    left: 50%;
    transition: $transition;
    transform: rotateX(-33deg) translateX(-50%);
    transform-origin: top center;
    visibility: hidden;
    opacity: 0.3;
    margin: $baseline/2 0;
    padding-right: $unite;
    background-color: var(--bg);

    @include for-size(phone){
      border-left: $border;
      border-bottom: $border;
    }

    li{
      @include f1-s1(300);
      
      a{
        display: block;
        transition: $transition;
        opacity: 0;
        padding: 0 $unite/2 $baseline/2 $unite/2;
        text-transform: capitalize;
        &:hover{
          text-decoration: underline;
          text-decoration-skip-ink: auto;
        }
      }
    }
  }
}
