body > footer{


	color: var(--cc);
	color: var(--dk);

	&:before{
		content: "";
		position: absolute;
		left: -$unite;
		top: 0;
		width: 120%;
		width: calc(100% + #{$unite*2});
		height: 100%;
		background: white;
	}

	.description, .contact{
		@include f1-s0(currentColor);
	}

	.contact{
		//li:nth-of-type(1){margin-top: $baseline/2;}
		//li:nth-of-type(2){margin-bottom: $baseline/2;}
		&:before{
			content: "Contactez-nous\2009!";
			font-weight: $bold;
			position: absolute;
			top: -$baseline;
		}
		width: 100%;
		> li{ 
			width: 50%; 
			width: calc(50% - #{$unite/2});
			&:nth-of-type(3){ 
				position: absolute;
				margin-left: 50%; 
				margin-left: calc(50% + #{$unite/2});
				top: 0;
			}
		}
	}

	svg{
		width: 100%;
		max-height: $baseline*2.5;
	}

	// phone, stacked
	@include for-size(phone){
		padding: $baseline 0;
		.description{ max-width: 200px; margin-bottom: $baseline;}
		.contact {margin: $baseline*2 0;}
	}
	// Desktop, 2 cols
	@include for-size(desktop){
		padding: $baseline 0;
		@include grid(repeat(8, 1fr), 6.5rem,  $baseline $unite/2);
		svg{-ms-grid-column: 1 / 2; grid-column: 1 / 2;}
		.description{ -ms-grid-column: 2 / span 2; grid-column: 2 / span 2; }
		.contact{
			-ms-grid-column: 6 / 9;grid-column: 6 / 9;
			margin: $baseline 0;
		}
	}
	// Desktop wide, 3cols
	@include for-size(desktop-1400){
		.description{ -ms-grid-column: 2 / span 1; grid-column: 2 / span 1; }
		.contact{ -ms-grid-column: 7 / 9;grid-column: 7 / 9; }
	}
}