<footer>
	<svg preserveAspectRatio="xMinYMid meet"  viewBox="0 0 70 70">
		<use href="#mistral-jsi"/>
	</svg>
	<p class="description">{{_meta.description}}</p>
	<ul class="contact">
		<li><a href="mailto:{{_meta.mail}}">{{_meta.mail}}</a></li>
		<li><a href="tel:{{_meta.telephone | replace(' ', '')}}">{{_meta.telephone}}</a></li>
		<li>{{_meta.adresse | safe}}</li>
	</ul>
</footer>
