<header id="topbar">

	<a href="{{ '/' | url }}" class="logo" title="Page d'acueil" aria-label="Revenir à l'accueil" >
    <svg preserveAspectRatio="xMinYMid meet" viewBox="0 0 75 75">
  		<use href="#{% if (tags == 'section') or (tags == 'info') %}i-back{% else %}mistral-jsi{%endif%}"/>      
  	</svg>
  </a>

	<nav aria-label="Navigation entre les sections sportive" class="dropdown">
    <button
      type="button"
      class="dropdown__title"
      aria-expanded="false"
      aria-controls="Sections sportives"
    >Sections<svg preserveAspectRatio="xMinYMid meet" viewBox="0 0 29 19"><use href="#icon-down"/></svg></button>		
		<ul class="dropdown__menu"  id="sections-dropdown" >
    	{%- for post in collections.section | sortByName -%}
    	  <li>
          <a href="{{ post.url | urlize }}" {% if page.url == post.url %} aria-current="page"{% endif %}>
            {{ post.data.sport }}
          </a>
        </li>
    	{%- endfor -%}
    </ul>
	</nav>
</header>